html{
    background-color: cadetblue;

}
body{
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-position: inside;
}
h1,h2,h3,h4,h5,h6{
    border-style: double;
    border
}