.icon{
    margin: 0 auto;
    width: fit-content;
}

.search{
    display: block;
    text-align: center;
    background-color: lightgray;
    margin-left: 147px;
    margin-right: 155px;
}

.box1{
    width: 350px;
    height: 95px;
    margin: 2px;
    float: left;
    border: 2px;
    background-color: greenyellow;
    text-align: center;
    margin-left: 150px;
}

.box2{
    width: 250px;
    height: 95px;
    margin: 2px;
    float: left;
    border: 2px;
    background-color: yellowgreen;
    text-align: center;
}

.box3{
    width: 350px;
    height: 95px;
    margin: 2px;
    float: left;
    border: 2px;
    background-color: yellowgreen;
    text-align: center;
}

.copy{
    width: 950px;
    text-align: center;
    margin-left: 150px;
}